
/**
* Colors
*/

:root {
  --theme1: linear-gradient(#4851FF, #f02aa6);
  --theme2: linear-gradient(#F02AA6, #FF6F48);
  --purple: #666CA3;
  --white: #fffff;

}

/****
* 
* Buttons
*
****/

.btn {
  border-radius: 50px;;
}

.btn-grad {
  background: var(--theme1) !important;
}

.btn-header:hover {
  background: var(--purple);
  border: none;

}

.btn-hero {
  background: var(--theme2);
  border: none;
}

         
/***
* Cards
**/

.card-padding {

  padding-top: 50px;
  padding-bottom: 40px;

}

.card {
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-link {
  text-decoration: none;
  background: var(--theme1);
}

.card-initial {
  background: var(--theme2);
  color: white !important;
}

/**
* Navigation Bar
**/

.margin-above-nav-bar-bottom
{
  margin-top: 100px;
}

.nav-padding {
  /* padding: 10px 50px 10ox 50px; */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/**
* Other
**/

#content {
  position: relative;
}
#content img {
  position: absolute;
  top: -35px;
  left: 20px;
}

h3 {
  padding-top: 30px;
}

.vcenter-item{
  display: flex;
  align-items: center;
}
