.btn {
    border-radius: 50px;;
}

.vcenter-item{
    display: flex;
    align-items: center;
}
 
/* #F02AA6 - FF6F48 */
/* #4851FF - F02AA6 */

.btn-grad {
  background-color: #F02AA6;
}
         
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #FF6F48;
  text-decoration: none;
}

.card-padding {

  padding-top: 10px;
  padding-bottom: 10px;

}

.card {
  min-height: 400px;
  /* max-height:  */
}